.main{
    height: calc(100vh - 20px);
    background-color: rgb(237 237 237);
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.te{
    background-color: aquamarine;
}
.mainWrapper{
    padding: 50px;
    display: flex;

}
