.dashContainer{
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}
.navigation{
    flex:1.3;
    /* border: 2px solid red; */
}
.menu{
    flex:4.3;
    /* border: 2px solid green; */
}
.map{
    flex:5.5;
    /* border: 2px solid black; */
}
