.map{
    height: calc(100vh - 20px);
    overflow: hidden;
    /* overflow-y: scroll; */
}
.mapWrapper{
    /* border: 2px solid red; */
    position: relative;
    height: 100%;
    width: 100%;
}
.image-center{
    position: absolute;
    z-index: -999;
    height: 100%;
    width: 100%;
}
.pic{
    object-fit:fill;
}
.menuList{
    z-index: 999;
    position: absolute;
    float: right;
}