.map{
    height: calc(100vh - 20px);
    width: 30vw;
    background-color: #e3f5d6;
    border-radius: 13px;
    margin-left: 1%;
    overflow-y: scroll;
}
.title-item{
   
    font-weight: bold;
    font-size: x-large;
}
.greet-item{
    margin-left: 8%;
    margin-top: 1%;
    font-size: medium;
    color: rgb(165, 165, 165);
}
.head{
    margin-top: 5%;
    display: flex;
    align-items: center;
     column-gap: 2%;
}
.head:first-child{
    align-self: center;
    margin-left: 4%;
}
.name{
    /* position: relative; */
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
    width: 45%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 0 5px #ccc;
    flex: 2 0 21%;
}
.name-title{
    /* position: absolute; */
    margin-left: 5%;
    margin-top: 3%;
    font-weight:bold;
}
.name-greet{
    /* position: absolute; */
     margin-top: 0.5%;
     margin-left: 5%;
    color: rgb(167, 166, 166);
    font-size: smaller;
}
.desc-food{
    /* position: absolute;  */
    /* top: 60%;
    left: 0;
    right: 0; */
    justify-content: center;
    margin: 2% auto; 
    display: block;
    border: none;
    box-shadow: 0 0 3px rgb(141, 141, 141);
    border-radius: 12px;
    width: 80%;
    resize: vertical;
    padding: 2.5% 12px;
    outline: none;
}

.desc-food:focus{
    border: #9de967 solid;
}
.name-food{
    /* position: absolute;  */
    /* top: 60%;
    left: 0;
    right: 0; */
    justify-content: center;
    margin: 11% auto; 
    display: block;
    border: none;
    box-shadow: 0 0 3px rgb(141, 141, 141);
    border-radius: 12px;
    width: 80%;
    resize: vertical;
    padding: 2.5% 12px;
    outline: none;
}

.name-food:focus{
    border: #9de967 solid;
}
.add-item{
    /* margin-top: 20%; */
    margin: 10% auto;
    /* height: 5%; */
    display: flex;
    color: white;
    justify-content: center;
    text-align: center;
    width: 100px;
    padding: 10px;
    background-color: #78a829;
    border-radius: 0.5em;
    /* margin-left: 150px; */
}
.wrap-item{
 height: 20%;
 display: flex;
 flex-flow: row wrap;
 
}
 