.title-name{
    margin-left: 8%;
    margin-top: 10%;
    margin-bottom: 2%;
    font-size: x-large;
    font-weight: bold;
}
.photo{
    margin-left: 8%;
    font-size: medium;
}
.header{
    margin-left: 8%;
  margin-top: 1%;
  margin-bottom: 10%;
  font-size: 20;
  font-weight: 400;
  color: gray;
}
h5{
    margin-top: 6%;
    margin-bottom: 2%;
     
}
.profile-pic{
     
    border-radius: 60%;
    height: 4em;
    width: 4em;
}
.profile{
    margin-left: 8%;
    margin-top: 1.5%;
     display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-bottom: 7%;
    column-gap: 50px;
    /* padding-left: 30px; */
    
}
.change{
     
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    padding-right: 10px;
    background-color: rgb(211, 211, 211);
    color: rgb(99, 99, 99);
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.update{
    display: flex; color: white;
    justify-content: center;
    width: 40%;
     margin: 10% auto;
    padding: 0.5em;
    background-color: #78a829;
    border-radius: 0.5em;
}
.profile-wrapper{
    justify-content: center;
}