.edit{
    /* padding: 0; */
    /* border: 2px solid red; */
    padding: 30px;
}
/* .header-top{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
} */
.title-name{
    /* margin-left: 8%; */
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: x-large;
    font-weight: bold;
    /* font-size: 2rem; */
    font-weight: 700;
}
.photo{
    margin-left: 8%;
    font-size: medium;
}
.header{
    /* margin-left: 2%; */
  margin-top: 1%;
  margin-bottom: 10%;
  font-size: 20;
  font-weight: 300;
  color: gray;
  /* padding-left: 30px; */
}
h5{
    margin-top: 6%;
    margin-bottom: 2%;
     
}
.profile-pic{
     
    border-radius: 60%;
    height: 4em;
    width: 4em;
}
.profile{
    /* margin-left: 8%; */
    margin-top: 1.5%;
     display: flex;
     width: 50%;
    align-items: center;
    /* flex-wrap: wrap; */
    margin-bottom: 7%;
    /* column-gap: 40px; */
    /* padding-left: 30px; */
    column-gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.change{
     
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 7px;
    padding-right: 10px;
    background-color: rgb(211, 211, 211);
    color: rgb(99, 99, 99);
    border-radius: 20px;
    text-align: center;
    position: relative;
}

.update{
    
    display: flex; 
    color: white;
    justify-content: center;
    width: 40%;
    padding: 0.5em;
    background-color: #78a829;
    border-radius: 0.5em;
     margin: auto;
}
.profile-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}