.navigation{
    height: calc(100vh - 20px);
}
.navigationWrapper{
    padding:20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15rem;
    
}
.title{
    /* border: 2px solid red; */
    display: flex;
    margin: 40px;
    font-size: 8.5rem;
    font-weight: 800;
}
.title .green{
    color: #5d8818;
}
.navbarlist{
    padding:0;
    margin: 0;
    list-style: none;
  }
.navbarListItem{
    display: flex;
    align-items: center;
    /* margin: 20px; */
    margin-bottom: 30px;
    /* border: 2px solid red; */
}
/* .line{
    width: 5px;
    height: 25px;
    background-color: #5d8818;
    margin-right: 5px;
    border-radius: 0px 10px 10px 0px;
} */
.navbarIcon{
    margin-right: 15px;
}
.navbarListItemText{
    font-weight: 700;
}
.active{
    /* color: #5d8818; */
    color: red;
}
a{
    text-decoration: none;
    color: inherit;
}
.profile{
    display: flex;
    align-items: center;
}
.profileImg{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}
.profileName{
    font-weight: 500;
}
.logout{
    color: rgb(160, 160, 160);
}
